.song-row{
    margin-left: 20px;
    padding: 10px 20px 10px;
    display: flex;
    align-items: center;
    color: white;
    min-width: 300px;
    overflow: hidden;
}

.song-row img {
    height: 60px;
}

.song-row:hover{
    cursor: pointer;
    background-color: black;
    opacity: 0.8;
}

.song-row__info {
    margin-left: 20px;
}

.song-row__info h2 {
    font-size: 16px;
}

.song-row__info p {
    font-size: 14px;
    margin-top: 3px;
    color: rgb(169, 169, 169);
}